.metadata
Servers
.settings
.classpath
.project
*.class
*.jar
linguagem4/Questionarios/WebContent/META-INF/MANIFEST.MF

linguagem4/Questionarios/WebContent/WEB-INF/faces-config.xml

linguagem4/Questionarios/WebContent/WEB-INF/web.xml

linguagem4/testeHibernate/WebContent/WEB-INF/faces-config.xml

linguagem4/testeHibernate/build/classes/hibernate.cfg.xml

linguagem4/testeHibernate/src/br/edu/catolica/tabelas/DisciplinasDao.java

linguagem4/testeHibernate/src/br/edu/catolica/tabelas/DisciplinasDao.java

linguagem4/testeHibernate/build/classes/hibernate.cfg.xml
